* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg_1 {
    background: red;
    /* background:  */
}

.bt_2 {
    background: none;
}


.myForm {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 20rem;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 12px ;
}

.myForm:hover,
.myForm:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.btn_color {
    background: violet;
}

.boxRed {
    background: red;
    width: 250px;
    height: 250px;
}

.boxBlue {
    background: blue;
    width: 250px;
    height: 250px;
}

.boxViolet {
    background: violet;
    width: 250px;
    height: 250px;
}
